<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./layout.xhtml">

            <ui:define name="top">
            </ui:define>

            <ui:define name="content">
                <div class="row">
                    <div class="col-md-4">
                        <!-- empty -->
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Basket (confirmation)</h3>
                            </div>
                            <div class="panel-body">
                                <div id="basket-options">
                                    <div id="basket-confirm">
                                        <!-- confirmationpage.js$printUserBasket -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-block btn-default" href="productselection.xhtml">Go to Product Selection page</a>
                    </div>
                    <div class="col-md-4">
                        <!-- empty -->
                    </div>
                </div>
            </ui:define>

            <ui:define name="bottom">        
                <div style="display: none;">
                    <input id="customerID" type="text" value="#{confirmationPageBean.customerID}" /> 
                    <input id="locationID" type="text" value="#{confirmationPageBean.locationID}" /> 
                    <input id="customerCatalogue" type="text" value="#{confirmationPageBean.customerCatalogue}" />
                    <input id="customerSelectedCatalogue" type="text" value="#{confirmationPageBean.customerSelectedCatalogue}" />
                </div>
                <script src="./resources/js/confirmationpage.js"></script>
            </ui:define>

        </ui:composition>

    </body>
</html>
