<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./layout.xhtml">

            <ui:define name="top">

            </ui:define>

            <ui:define name="content">

                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-block btn-default" href="productselection.xhtml">Go to Product Selection page</a>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

            </ui:define>

            <ui:define name="bottom">
                <script src="./resources/js/index.js"></script>
            </ui:define>
            
        </ui:composition>

        
    </body>
</html>
