<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Sky Product Selector</title>
        <meta charset="utf-8"></meta>

        <!--jQuery -->
        <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
        
        <!-- jQuery cookie plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        
        <!-- Knockout.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"> </script>
        
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></link>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </h:head>

    <h:body>
        <div class="container-fluid">

            <!-- nav -->
            <div id="top">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>
                                Sky Product Selection
                            </h2>
                        </div>
                        <ui:insert name="top">Top</ui:insert>
                    </div>
                </div>
            </div>

            <!-- body -->
            <div id="content" class="center_content">
                <div class="row">
                    <div class="col-md-12">
                        <ui:insert name="content">Content</ui:insert>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div id="bottom">
                <div class="row">
                    <div class="col-md-12">
                        <script src="./resources/js/common.js"></script>
                        <ui:insert name="bottom">Bottom</ui:insert>
                    </div>
                </div>

            </div>

        </div> <!-- container -->
    </h:body>

</html>
