<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <body>

        <ui:composition template="./layout.xhtml">

            <ui:define name="top">
            </ui:define>

            <ui:define name="content">

                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            Product Selection
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Sports</h3>
                            </div>
                            <div class="panel-body">
                                <div id="sports-options" data-bind="foreach: sports">
                                    <input type="checkbox" data-bind="checked: checked, value: id, name: id, id: id, click: $root.toggleProductSelection"></input>
                                    <span data-bind="text: product"></span>
                                    <br></br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">News</h3>
                            </div>
                            <div class="panel-body">
                                <div id="news-options" data-bind="foreach: news">
                                    <input type="checkbox" data-bind="checked: checked, value: id, name: id, id: id, click: $root.toggleProductSelection"></input>
                                    <span data-bind="text: product"></span>
                                    <br></br>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Basket</h3>
                            </div>
                            <div class="panel-body">
                                <div id="basket-options">
                                    <div id="basket">
                                            <!-- pruductselection.js$printUserBasket -->
                                    <br></br>
                                </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-block btn-default" onclick="navigateCheckoutJsf();" href="#">Checkout</a>
                    </div>
                </div>
            </ui:define>

            <ui:define name="bottom">
                <div style="display: none;">
                    <h:form id="frmCheckout" styleClass="frmCheckout">
                        <h:inputText id="customerID" styleClass="customerID" value="#{productSelectionBean.customerID}" />
                        <h:inputText id="locationID" styleClass="locationID" value="#{productSelectionBean.locationID}" />
                        <h:inputText id="customerCatalogue" styleClass="customerCatalogue" value="#{productSelectionBean.customerCatalogue}" />
                        <h:inputText id="customerSelectedCatalogue" styleClass="customerSelectedCatalogue" value="#{productSelectionBean.customerSelectedCatalogue}" />
                        <h:commandButton value="Submit" styleClass="frmCheckoutSubmit" action="confirmationpage.xhtml"/>
                    </h:form>
                </div>
                <script src="./resources/js/productselection.js"></script>
            </ui:define>

        </ui:composition>

    </body>
</html>
